<div class="container">
  <h3>
    Viewpoint size directive.
  </h3>
  <p>Show content if it has appropriate viewpoint value.</p><br />
  <span>Configuration for dispaly width: </span><br />
  <span>medium: {{ config.breakpoints.medium }} px</span><br />
  <span>large: {{ config.breakpoints.large }} px</span>


  <test-component *ifViewportSize="'small'" [value]="1"></test-component>
  <test-component *ifViewportSize="'medium'" [value]="2"></test-component>
  <test-component *ifViewportSize="'large'" [value]="3"></test-component>
</div>
