<div class="container">
  <h3>
    Демо. Задание 2.
  </h3>
  <p>Реализован конфиг, которые при инициализации определяет пороговые значения ширины.</p>
  <p>Создан демо модуль, который содержит тестовый компонент test-component, структурную директиву *ifViewportSize и сервис, с помощью которого подписываемся под изменение ширины окна.</p>
  <p>Плавно меняйте ширину окна и вы увидите, как отображение тестовых компонентов изменяется. Сейчас выставлены следующие границы изменений:</p><br />
  <span>medium: {{ config.breakpoints.medium }}</span><br />
  <span>large: {{ config.breakpoints.large }}</span>


  <test-component *ifViewportSize="'small'" [value]="1"></test-component>
  <test-component *ifViewportSize="'medium'" [value]="2"></test-component>
  <test-component *ifViewportSize="'large'" [value]="3"></test-component>
</div>